<li [ngClass]="{'list-group-item': true, 
'list-group-item-success': post.loveIts > 0, 
'list-group-item-danger': post.loveIts < 0}">
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
  </div>
        <div class="container">
            <div class="row">
                <h2 [ngStyle]="{color: getColor()}">{{ post.title }}</h2>
                <p>{{ post.created_at | date: 'short' }}</p>
            </div>
        </div>
    <p [ngStyle]="{color: getColor()}">{{ post.content }}</p>
    <button (click)="handleLike(+1)" class="btn btn-success">Love it!</button>
    <button (click)="handleLike(-1)" class="btn btn-danger">Don't Love it!</button>
</li>